@import "tailwindcss";

@theme {
    /* Couleurs principales */
    --color-primary: #931313;
    --color-red: #FF0000;
    --color-dark-red: #7A0C0C;
    --color-orange: #C17817;
    --color-secondary: #6c757d;
    --color-blue: #007bff;
    
    /* Couleurs de base */
    --color-white: #ffffff;
    --color-black: #010C14;
    
    
    /* Couleurs d'interface */
    --color-fg: var(--color-dark-red);
    --color-bg: var(--color-secondary);
}

@layer base {
  .dark {
    --color-fg: var(--color-secondary);
    --color-bg: var(--color-primary);    
  }
}