{% extends 'base.html.twig' %}

{% block title %}Confirmer votre email{% endblock %}

{% block body %}
<h1>Confirmer votre adresse email</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
{% endblock %} 